streamlit
scikit-learn==1.3.2
pandas
numpy
joblib
requests
beautifulsoup4
plotly
plotly
langgraph 
langchain 
langchain-groq 
python-dotenv
langchain-chroma 
langchain-huggingface 
sentence-transformers
datasets<3.0
